/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('imagem.png');
    background-size: cover; /* Aumenta o tamanho da imagem de fundo para cobrir o cabeçalho */
    background-position: center;
    text-align: center; /* Centraliza o texto horizontalmente */
    padding: 50px; /* Adiciona espaçamento interno para melhor espaçamento */
    color: #fff; /* Define a cor do texto para branco */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    margin: 20px;
}

/* Estilos específicos */
#sobre {
    background-color: #f2f2f2;
    padding: 20px;
}

#portfolio, #videos {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#portfolio .projeto, #videos .video {
    margin-bottom: 20px;
}

#portfolio .projeto img, #videos .video iframe {
    max-width: 100%;
}

#contato {
    background-color: #f2f2f2;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
    background-color: #333;
    color: #fff;
    padding: 10px;
}
